<!--Navbar-->
<nav class="navbar navbar-expand-lg sticky-lg-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Garm<strong>it</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'core:homepage' %}">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wardrobe:wardrobe' %}">Wardrobe</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex mb-2 mb-lg-0" action="{% url 'core:search_results' %}" method="POST">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Username" aria-label="Username" name="searched">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">{{request.user.username}}</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'core:user_profile' request.user.username %}">Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'core:edit_profile' %}">Settings</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'core:logout' %}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <div class="d-flex ms-auto">
                <a class="btn btn-outline-light me-2" href="{% url 'core:login' %}">Login</a>
                <a class="btn btn-warning" href="{% url 'core:register' %}">Sign-up</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>