{% extends 'core/base.html' %}

{% block title %}Create Outfit{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!--Outfit_form-->
<div class="container py-5">
    <h1 class="display-1">Create Outfit</h1>
    <form class="row" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="col-md-6">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.image|as_crispy_field }}
        </div>
        <div class="col-12">
            {{ form.description|as_crispy_field }}
        </div>

        <div class="col-12">
            <div id="div_id_{{ form.tops.html_name }}" class="mb-3">
                <label class="form-label">
                    {{form.tops.label}}
                </label>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
                    {% for pk, choice in form.tops.field.widget.choices%}
                    <div class="col">
                        <div class="form-check">
                            <input type="{{form.tops.field.widget.input_type}}" class="form-check-input {% if form.tops.errors %}is-invalid{% endif %}" name="{{form.tops.html_name}}" value="{{pk}}" id="id_{{form.tops.name}}_{{forloop.counter0}}" {% if pk in form.tops.value or pk|stringformat:'s' in form.tops.value %}checked{% endif %}>
                            <label for="id_{{form.tops.name}}_{{forloop.counter0}}" class="form-check-label">{{ choice }}</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if form.tops.errors %}
                <div class="container">
                    {% for error in form.tops.errors %}
                    <p id="error_{{ forloop.counter }}_id_{{ form.tops.html_name }}" class="form-text text-danger">
                        <strong>{{ error|escape }}</strong>
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-12">
            <div id="div_id_{{ form.bottoms.html_name }}" class="mb-3">
                <label class="form-label requiredFeild">
                    {{form.bottoms.label}}<span class="asteriskField">*</span>
                </label>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
                    {% for pk, choice in form.bottoms.field.widget.choices%}
                    <div class="col">
                        <div class="form-check">
                            <input type="{{form.bottoms.field.widget.input_type}}" class="form-check-input {% if form.bottoms.errors %}is-invalid{% endif %}" name="{{form.bottoms.html_name}}" value="{{pk}}" id="id_{{form.bottoms.name}}_{{forloop.counter0}}" {% if pk in form.bottoms.value or pk|stringformat:'s' in form.bottoms.value %}checked{% endif %}>
                            <label for="id_{{form.bottoms.name}}_{{forloop.counter0}}" class="form-check-label">{{ choice }}</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if form.bottoms.errors %}
                <div class="container">
                    {% for error in form.bottoms.errors %}
                    <p id="error_{{ forloop.counter }}_id_{{ form.bottoms.html_name }}" class="form-text text-danger">
                        <strong>{{ error|escape }}</strong>
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-12">
            <div id="div_id_{{ form.outerwear.html_name }}" class="mb-3">
                <label class="form-label">
                    {{form.outerwear.label}}
                </label>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
                    {% for pk, choice in form.outerwear.field.widget.choices%}
                    <div class="col">
                        <div class="form-check">
                            <input type="{{form.outerwear.field.widget.input_type}}" class="form-check-input {% if form.outerwear.errors %}is-invalid{% endif %}" name="{{form.outerwear.html_name}}" value="{{pk}}" id="id_{{form.outerwear.name}}_{{forloop.counter0}}" {% if pk in form.outerwear.value or pk|stringformat:'s' in form.outerwear.value %}checked{% endif %}>
                            <label for="id_{{form.outerwear.name}}_{{forloop.counter0}}" class="form-check-label">{{ choice }}</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if form.outerwear.errors %}
                <div class="container">
                    {% for error in form.outerwear.errors %}
                    <p id="error_{{ forloop.counter }}_id_{{ form.outerwear.html_name }}" class="form-text text-danger">
                        <strong>{{ error|escape }}</strong>
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-12">
            <div id="div_id_{{ form.footwear.html_name }}" class="mb-3">
                <label class="form-label requiredFeild">
                    {{form.footwear.label}}<span class="asteriskField">*</span>
                </label>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
                    {% for pk, choice in form.footwear.field.widget.choices%}
                    <div class="col">
                        <div class="form-check">
                            <input type="{{form.footwear.field.widget.input_type}}" class="form-check-input {% if form.footwear.errors %}is-invalid{% endif %}" name="{{form.footwear.html_name}}" value="{{pk}}" id="id_{{form.footwear.name}}_{{forloop.counter0}}" {% if pk in form.footwear.value or pk|stringformat:'s' in form.footwear.value %}checked{% endif %}>
                            <label for="id_{{form.footwear.name}}_{{forloop.counter0}}" class="form-check-label">{{ choice }}</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if form.footwear.errors %}
                <div class="container">
                    {% for error in form.footwear.errors %}
                    <p id="error_{{ forloop.counter }}_id_{{ form.footwear.html_name }}" class="form-text text-danger">
                        <strong>{{ error|escape }}</strong>
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-12">
            <div id="div_id_{{ form.accessories.html_name }}" class="mb-3">
                <label class="form-label">
                    {{form.accessories.label}}
                </label>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
                    {% for pk, choice in form.accessories.field.widget.choices%}
                    <div class="col">
                        <div class="form-check">
                            <input type="{{form.accessories.field.widget.input_type}}" class="form-check-input {% if form.accessories.errors %}is-invalid{% endif %}" name="{{form.accessories.html_name}}" value="{{pk}}" id="id_{{form.accessories.name}}_{{forloop.counter0}}" {% if pk in form.accessories.value or pk|stringformat:'s' in form.accessories.value %}checked{% endif %}>
                            <label for="id_{{form.accessories.name}}_{{forloop.counter0}}" class="form-check-label">{{ choice }}</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if form.accessories.errors %}
                <div class="container">
                    {% for error in form.accessories.errors %}
                    <p id="error_{{ forloop.counter }}_id_{{ form.accessories.html_name }}" class="form-text text-danger">
                        <strong>{{ error|escape }}</strong>
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        
        <div class="col-12">
            <a class="btn btn-secondary" href="{% url 'wardrobe:wardrobe' %}" role="button">Back</a>
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>
</div>

{% endblock %}