{% extends 'core/base.html' %}

{% block title %}Create Outfit{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!--Outfit_form-->
<div class="container py-5">
    <h1 class="display-1">Create Outfit</h1>
    <form class="row" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="col-md-6">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.image|as_crispy_field }}
        </div>
        <div class="col-12">
            {{ form.description|as_crispy_field }}
        </div>

        <div class="col-12">
            <label for="{{ form.garments.id_for_label }}" class="form-label">Garments*</label>
            {% if form.garments.errors %}
            <div class="input-group text-danger mb-3">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
                    {% for garment in form.garments %}
                    <div class="col">
                        {{ garment }}
                    </div>
                    {% endfor %}
                </div>
                <div class="mt-1">
                    This field is required.
                </div>
            </div>
            {% else %}
            <div class="input-group mb-3">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
                    {% for garment in form.garments %}
                    <div class="col">
                        {{ garment }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-12">
            <a class="btn btn-secondary" href="{% url 'wardrobe:wardrobe' %}" role="button">Back</a>
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>
</div>

{% endblock %}