{% extends 'core/base.html' %}

{% block title %}Wardrobe{% endblock %}

{% block content %}

<!--Wardrobe-->
<div class="container py-5">
    <h1 class="display-1">Wardrobe</h1>

    <hr>

    <div class="row">
        <div class="col">
            <h1>Outfits</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary float-end" href="{% url 'wardrobe:outfit_create' %}" role="button">Create</a>
        </div>
    </div>

    <div class="py-3">
        {% if latest_outfit_list %}
        <div class="col col-lg-6 mx-auto">
            <div id="outfitCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for outfit in latest_outfit_list %}
                    {% if forloop.first %}
                    <div class="carousel-item active">
                        <a class="text-decoration-none text-reset" href="{% url 'wardrobe:outfit_detail' outfit.id %}">
                            <img src="{{ outfit.image.url }}" class="d-block w-100" alt="Outfit">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ outfit.name }}</h5>
                                <p>{{ outfit.description }}</p>
                            </div>
                        </a>
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <a class="text-decoration-none text-reset" href="{% url 'wardrobe:outfit_detail' outfit.id %}">
                            <img src="{{ outfit.image.url }}" class="d-block w-100" alt="Outfit">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ outfit.name }}</h5>
                                <p>{{ outfit.description }}</p>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#outfitCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#outfitCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        {% else %}
        <p>No outfits created.</p>
        {% endif %}
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <h1>Garments</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary float-end" href="{% url 'wardrobe:garment_upload' %}" role="button">Add</a>
        </div>
    </div>

    <div class="pt-1">
        {% if tops %}
        <p>Tops:</p>
        <div class="row row-cols-2 row-cols-md-3 g-4">
            {% for garment in tops %}
            <div class="col">
                <a class="text-decoration-none text-reset" href="{% url 'wardrobe:garment_detail' garment.id %}">
                    <div class="card h-100">
                        <img src="{{ garment.image.url }}" class="card-img-top" alt="Garment">
                        <div class="card-body">
                            <h6 class="card-title text-truncate">{{ garment.name }}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <br>
        {% endif %}

        {% if bottoms %}
        <p>Bottoms:</p>
        <div class="row row-cols-2 row-cols-md-3 g-4">
            {% for garment in bottoms %}
            <div class="col">
                <a class="text-decoration-none text-reset" href="{% url 'wardrobe:garment_detail' garment.id %}">
                    <div class="card h-100">
                        <img src="{{ garment.image.url }}" class="card-img-top" alt="Garment">
                        <div class="card-body">
                            <h6 class="card-title text-truncate">{{ garment.name }}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <br>
        {% endif %}

        {% if outerwear %}
        <p>Outerwear:</p>
        <div class="row row-cols-2 row-cols-md-3 g-4">
            {% for garment in outerwear %}
            <div class="col">
                <a class="text-decoration-none text-reset" href="{% url 'wardrobe:garment_detail' garment.id %}">
                    <div class="card h-100">
                        <img src="{{ garment.image.url }}" class="card-img-top" alt="Garment">
                        <div class="card-body">
                            <h6 class="card-title text-truncate">{{ garment.name }}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <br>
        {% endif %}

        {% if footwear %}
        <p>Footwear:</p>
        <div class="row row-cols-2 row-cols-md-3 g-4">
            {% for garment in footwear %}
            <div class="col">
                <a class="text-decoration-none text-reset" href="{% url 'wardrobe:garment_detail' garment.id %}">
                    <div class="card h-100">
                        <img src="{{ garment.image.url }}" class="card-img-top" alt="Garment">
                        <div class="card-body">
                            <h6 class="card-title text-truncate">{{ garment.name }}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <br>
        {% endif %}

        {% if accessories %}
        <p>Accessories:</p>
        <div class="row row-cols-2 row-cols-md-3 g-4">
            {% for garment in accessories %}
            <div class="col">
                <a class="text-decoration-none text-reset" href="{% url 'wardrobe:garment_detail' garment.id %}">
                    <div class="card h-100">
                        <img src="{{ garment.image.url }}" class="card-img-top" alt="Garment">
                        <div class="card-body">
                            <h6 class="card-title text-truncate">{{ garment.name }}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- {% if latest_garment_list %}
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
            {% for garment in latest_garment_list %}
            <div class="col">
                <a class="text-decoration-none text-reset" href="{% url 'wardrobe:garment_detail' garment.id %}">
                    <div class="card h-100">
                        <img src="{{ garment.image.url }}" class="card-img-top" alt="Garment">
                        <div class="card-body">
                            <h6 class="card-title text-truncate">{{ garment.name }}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No garments added.</p>
        {% endif %} -->
    </div>

</div>

{% endblock %}