{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!--Homepage-->
<div class="container py-4">
    <h1 class="display-1 text-center">Garm<b>it</b></h1>
    <hr>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            {% if user.is_authenticated %}
            <h1 class="display-5 fw-bold">Welcome, {{user.username}}</h1>
            {% else %}
            <h1 class="display-5 fw-bold">Welcome</h1>
            {% endif %}
            <p class="col-md-8 fs-4">Garmit is a social media wardrobe management web app to create, share, and discover
                new outfits. To get started upload garments to your wardrobe and then create outfits from them.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'wardrobe:wardrobe' %}">Wardrobe</a>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Set up your profile</h2>
                <p>Finish setting up your profile by adding an profile picture and bio in your profile settings. Your
                    profile is public by default, however, if you would like to use the site to manage your wardrobe
                    without sharing your profile with others you can make it private.</p>
                <a class="btn btn-outline-light" href="{% url 'core:edit_profile' %}">Profile Settings</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Top Followed Profiles</h2>
                {% for profile in top_profiles %}
                <div class="card my-3">
                    <div class="row g-0">
                        <div class="col-lg-2 d-none d-lg-block">
                            <div class="ratio ratio-1x1">
                                <img src="{{ profile.avatar.url }}" class="img-fluid rounded-start" alt="avatar">
                            </div>
                        </div>
                        <div class="col col-lg-6">
                            <div class="card-body">
                                <h5 class="card-title">{{ profile.user.username }}</h5>
                                <p class="card-text">Followers: {{ profile.followers.count }}</p>
                            </div>
                        </div>
                        <div class="col-auto col-lg-4">
                            <div class="card-body">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a class="btn btn-primary stretched-link"
                                        href="{% url 'core:user_profile' profile.user.username %}">Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <a class="btn btn-outline-secondary" href="{% url 'core:top_profiles' %}">View All</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}