{% extends 'core/header.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!--Homepage-->
<div class="container py-5">
    <h1 class="display-1">Home</h1>
    <hr>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            {% if user.is_authenticated %}
            <h1 class="display-5 fw-bold">Welcome, {{user.username}}</h1>
            {% else %}
            <h1 class="display-5 fw-bold">Welcome</h1>
            {% endif %}
            <p class="col-md-8 fs-4">Garmit is a social media wardrobe management web app to create, share, and discover
                new outfits. To get started upload garments to your wardrobe and then create outfits from them.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'wardrobe:wardrobe' %}">Wardrobe</a>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Change the background</h2>
                <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look.
                    Then, mix and match with additional component themes and more.</p>
                <button class="btn btn-outline-light" type="button">Example button</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Add borders</h2>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be
                    sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of
                    both column's content for equal-height.</p>
                <button class="btn btn-outline-secondary" type="button">Example button</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}