{% extends "core/base.html" %}

{% block title %}Inbox Detail{% endblock %}

{% block content %}

<!--Inbox Detail-->
<div class="container py-5">
    <div class="row">
        <div class="col">
            <b>From: {{ msg.sender_user }}</b>
        </div>
        <div class="col text-end">
            {{ msg.date }}
        </div>
    </div>
    <hr>
    <p>{{ msg.body }}</p>
    <br>
    <a href="{% url 'core:inbox' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'core:send_message' msg.sender_user %}" class="btn btn-primary">Reply</a>
</div>

{% endblock %}