{% extends "core/base.html" %}

{% block title %}Top Profiles{% endblock %}

{% block content %}

<!--Search Results-->
<div class="container py-5" style="max-width: 540px;">
    <h1 class="display-5">Top Followed Profiles</h1>
    {% for profile in top_profiles %}
    <div class="card my-3">
        <div class="row g-0">
            <div class="col">
                <div class="ratio ratio-1x1">
                    <img src="{{ profile.avatar.url }}" class="img-fluid rounded-start" alt="avatar">
                </div>
            </div>
            <div class="col-5 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.user.username }}</h5>
                    <p class="card-text">Followers: {{ profile.followers.count }}</p>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-primary stretched-link" href="{% url 'core:user_profile' profile.user.username %}">Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}