{% extends 'core/base.html' %}

{% block title %}Profile Settings{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!--User_profile_form-->
<div class="container py-5">
    <h1 class="display-1">Profile Settings</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER}}" role="button">Back</a>
        <button class="btn btn-primary" type="submit">Edit</button>
    </form>
</div>

{% endblock %}